# authentication
SECRET_KEY=super-secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRES_IN=240

# database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/partnermoumanagement
#DATABASE_URL=postgresql+asyncpg://username:password@localhost:port/dbname

# admin credentials
EMAIL=admin@gmail.com
PASSWORD=1234
FIRST_NAME=Super
LAST_NAME=User
ROLE=admin