# API Settings
DATABASE_URL=postgresql://postgres:postgres@db:5432/db-name
ENVIRONMENT=production
SECRET_KEY=your_secret_key_here

# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db-name

# Other environment variables here