{% extends "emails/base_email.html" %}

{% block content %}
<h2>Reset your password</h2>

<p>Dear {{ user.first_name }} {{ user.last_name }},</p>

<p>Seems like you forgot your password. Don't worry about it. You can use the link below to reset it and set a new password.</p>

<div style="text-align: center; margin: 30px 0;">
    <a href="{{ reset_url }}" class="button" style="font-size: 16px;">
        Reset Password
    </a>
</div>

<div class="info-block">
    <p>If the button above doesn't work, you can copy and paste this link into your browser:</p>
    <a style="word-break: break-all;">{{ reset_url }}</a>
</div>

<p><strong>This reset link will expire in 1 hour.</strong></p>

<p>If you did not make this request please ignore this email or contact our support team if you have concerns.</p>

<p>Best regards,<br>The {{ system_name }} Team</p>
{% endblock %}